$grey-900: #393939;
$blue-600: #2a5c85;
$accent: #c053d5;

html,
body {
  background: #ffffff;
  color: #606063;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

#root {
  height: 100vh;
  overflow: hidden;
  width: 100vw;

  --grey-900: #{$grey-900};
  --blue-600: #{$blue-600};
  --accent: #{$accent};
}

* {
  box-sizing: border-box;
  font-family: "Lato", "sans-serif";
  font-weight: 300;
  letter-spacing: 0.2px;
}

canvas {
  position: absolute;
}

.loading {
  padding: 10px;
  transform: translate3d(-50%, -50%, 0);
}

.scrollArea {
  height: 100vh;
  left: 0;
  overflow: auto;
  position: absolute;
  top: 0;
  width: 100vw;
}

h1,
h2,
h3,
h4,
h5 {
  color: $grey-900;
  font-family: "Manrope";
  margin: 0 0 8px;
}

h1 {
  font-size: 8vh;
  font-weight: 700;
}

h2 {
  font-size: 5vh;
  font-weight: 700;
}

h3 {
  font-size: 4vh;
  font-weight: 700;
}

p {
  color: $grey-900;
  font-family: "Lato";
  font-size: 4vh;
  font-weight: 500;
}

span {
  font-family: inherit;
  font-weight: inherit;

  &.accent {
    color: $accent;
  }
}

.unstyled-link {
}

@import "./components/pages/pages.scss";
@import "./components/icons/icons.scss";
